@model EducationPortal.Models.tblRole

@{
    ViewData["Title"] = "SaveUserRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismmissible text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["success"]
    </div>
}
@if (TempData["fail"] != null)
{
    <div class="alert alert-danger alert-dismmissible text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> @TempData["fail"]
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">@(Model.RoleId==0 ? "Add":"Update") User Role</h4>
            </div>
        </div>
    </div>
    <div>
        <form asp-action="SaveUserRole">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <label asp-for="RoleId" class="control-label"></label>
                        <input asp-for="RoleId" maxlength="20" minlength="3" tabindex="1" class="form-control" />
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoleName" class="control-label"></label>
                        <input asp-for="RoleName" maxlength="45" minlength="3" tabindex="2" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" checked asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>

                    &nbsp;&nbsp;
                    <div class="row">
                        <div class="form-group">
                            <input type="submit" value="@(Model.RoleId==0 ? "Add":"Update")" tabindex="3" class="btn btn-primary" />
                        </div>
                        &nbsp;
                        <div class="form-group">
                            @Html.ActionLink("Back", "Index", "Role", null, new { @class = "clsButtonFake btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

