@model EducationPortal.Models.tblBlog

@{
    ViewData["Title"] = "Save";
}

@section style{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
<style>
    img {
        height: 100px;
        width: 100px;
    }
    .closeDiv {
        width: 20px;
        height: 21px;
        background-color: rgb(35, 179, 119);
        cursor: pointer;
        color: white;
        box-shadow: 2px 2px 7px rgb(74, 72, 72);
        text-align: center;
        margin: 5px;
        right: 0px;
    }
</style>
}
@{
    System.Data.DataTable dtRolePrivileges = ViewData["RolePrivileges"] as System.Data.DataTable;
}
<br />
@if (TempData["fail"] != null)
{
    <div class="alert alert-danger alert-dismmissible text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> @TempData["fail"]
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="page-title-box">
                <h4 class="page-title">@(Model.BlogID==0 ? "Add":"Update") Blog</h4>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <form asp-action="Save" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <input asp-for="BlogID" class="form-control" />
                <input asp-for="CreatedBy" class="form-control" />
                <input asp-for="CreatedDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @*maxlength="250" name="Description class="ckeditor" id="Description"*@
                <textarea asp-for="Description" name="Description" id="Description" class="form-control ckeditor"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Keyword" class="control-label"></label>
                <input asp-for="Keyword" class="form-control" />
                <span asp-validation-for="Keyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Image" />
                <div id="thumbnail">
                    <div class="divThumbnail">
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <img src="~/ApplicationDocument/BlogImages/@Model.Image" class="imgs" />
                            <div class="closeDiv" style="float: left;">X</div>
                        }
                    </div>
                </div>
                <input asp-for="imgurl" accept="Image/*" id="upload-file" class="form-control" />
                <span asp-validation-for="imgurl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" checked asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            &nbsp;&nbsp;
            <div class="row" style="align-content:center">
                <div class="form-group">
                    <input type="submit" value="@(Model.BlogID==0 ?  "Add":"Update")" class="btn btn-primary" />
                </div>
                &nbsp;
                <div class="form-group">
                    @Html.ActionLink("Back", "Index", "Blog", null, new { @class = "clsButtonFake btn btn-danger" })
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="~/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('#Description');
        });

        jQuery(function ($) {
            @if (!string.IsNullOrEmpty(Model.Image)) {
                @:$("#upload-file").hide();
            }
            $('div').on('click', '.closeDiv', function () {
                $(this).prev().remove();
                $(this).remove();
                $("#upload-file").show();
            });

            var fileInput = document.getElementById("upload-file");

            fileInput.addEventListener("change", function (e) {

                var filesVAR = this.files;

                $('#thumbnail').html("");
                showThumbnail(filesVAR);
            }, false);
            function showThumbnail(files) {
                var file = files[0]

                var $thumbnail = $('#thumbnail').get(0);

                var $image = $("<img> ", {
                    class: "imgThumbnail"
                });
                var $pDiv = $("<div>", {
                    class: "divThumbnail",
                    style: "float: left"
                });
                var $div = $("<div>", {
                    class: "closeDiv",
                    style: "float: right"
                }).html('X');

                $pDiv.append($image, $div).appendTo($thumbnail);
                var reader = new FileReader()
                reader.onload = function (e) {
                    $image[0].src = e.target.result;
                }
                var ret = reader.readAsDataURL(file);
                var canvas = document.createElement("canvas");
                ctx = canvas.getContext("2d");
                $image.on('load', function () {
                    ctx.drawImage($image[0], 100, 100);
                })
            }
        });


    </script>
}
